# .dockerignore

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
.idea/
.vscode/
*.sqlite3
*.log
*. Rproj
* .swp
* .swo
local_settings.py

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose.yml # If you don't want it in the image itself

# Test files (if you have a separate tests directory)
tests/
pytest.ini
.pytest_cache