# ansible/ansible.cfg

[defaults]
inventory = inventory.ini
remote_user = jeevans # Your macOS username, though less critical for local connection
host_key_checking = False
deprecation_warnings = False
command_warnings = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False